.background-container {
  background-image: url("../../assets/images/aircraft.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.link {
  margin: 4px;
  position: relative;
}

.link:hover {
  box-shadow: 2px 2px 8px rgba(175, 211, 202, 0.9);
  z-index: 999999999999;
}

.home__page {
  position: absolute;
  width: 200px;
  height: 200px;
  margin-left: 7%;
  margin-top: 100px;
}

h1 {
  color: white;
  z-index: 999;
  font-size: 24px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  letter-spacing: 5px;
}

@media screen and (max-width: 900px) and (max-width: 1024px) {
  h1 {
    color: white;
  }
  .buttons {
    margin-top: 90px;
  }
}
