main {
  background-color: rgb(66, 14, 114);
  height: 100vh;
  width: 100%;

  input {
    margin-top: 100px;
    text-align: center;
    padding: 5px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    margin-left: 30px;
  }

  .mission-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .mission-container :hover {
    background-color: black;
    color: white;
  }

  .mission-content {
    cursor: pointer;
    margin: 20px;
    width: 390px;
    text-align: center;
    border: 1px solid rgb(127, 99, 99);
    border-radius: 8px;
  }

  h2 {
    color: white;
  }

  h6 {
    color: white;
  }
}

// FOR MOBILE AND TABLET
@media screen and (min-width: 360px) and (max-width: 1180px) {
  main {
    height: 100%;
    min-height: 100vh;

    width: fit-content;
  }
}
